[project]
	description = Camera Calibration 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Evan (PeppyHare)
[access "refs/for/refs/*"]
	read = group user/Evan (PeppyHare)
	push = group user/Evan (PeppyHare)
	label-Code-Review = -2..+2 group user/Evan (PeppyHare)
	label-Verified = -1..+1 group user/Evan (PeppyHare)
	rebase = group user/Evan (PeppyHare)
	removeReviewer = group user/Evan (PeppyHare)
	submit = group user/Evan (PeppyHare)
[access "refs/heads/*"]
	read = group user/Evan (PeppyHare)
	create = group user/Evan (PeppyHare)
	push = +force group user/Evan (PeppyHare)
	pushMerge = group user/Evan (PeppyHare)
[access "refs/tags/*"]
	push = +force group user/Evan (PeppyHare)
	pushTag = group user/Evan (PeppyHare)
	pushSignedTag = group user/Evan (PeppyHare)
